<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email</label>
        <input type="text" name="" id="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="" id="password" formControlName="password">
    </div>
    <button type="submit">Login</button>
    <div class="row">
        <div class="need">
            <a href="/signin" style="text-decoration: none;">Besoin d'un compte ? <span>Register</span></a>
        </div>
        <div class="forg">
            <a href="/forgot-password" style="text-decoration: none;">Mot de passe oublié</a>
        </div>
    </div>
</form>