<div class="contenu">
    <div class="title">
        <h4 class="log">Forgot Password</h4>
    </div>
    <form>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email" id="emailInput" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <button type="button" class="btn btn-primary" (click)="forgotPassword()">Send Link</button>
        <div class="row">
            <div class="need">
                <a href="/login" style="text-decoration: none;">Back to <span>Login</span></a>
            </div>
        </div>
    </form>
</div>