<div class="container">
    <div class="inscription-image" >
        <img src="assets/background.webp" alt="Image d'inscription">
    </div>
    <div class="inscription-form">
        <h2>INSCRIPTION</h2>
        <p>Avez-vous un compte? <a href="#">Connectez-vous</a></p>
        
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input type="text" id="name" formControlName="name" placeholder="Nom">
                <input type="text" id="prenom" formControlName="prenom" placeholder="Prénom">
            </div>
            <input type="email" id="email" formControlName="email" placeholder="Email">
            <input type="password" id="password" formControlName="password" placeholder="Entrez votre mot de passe">
            <button type="submit">Créer le compte</button>
        </form>
    </div>
</div>
