/* Conteneur principal */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.inscription-image img {
    width: 200%;
    height: 100%;
    object-fit: cover;
}


/* Partie gauche : Image */
.inscription-image {
    width: 75%;
    background: url('/assets/image.png') no-repeat center center/cover; /* Remplace 'image.png' par le bon chemin */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.inscription-image::before {
    content: "Suivez tous les vols du monde en toute simplicité";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(2, 52, 48, 0.5); /* 50% de transparence */
}

/* Partie droite : Formulaire */
.inscription-form {
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Conteneur du formulaire */
.inscription-form form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Titre */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Texte sous le titre */
p {
    font-size: 14px;
    margin-bottom: 20px;
}

p a {
    color: #004d40;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Groupe d'inputs pour le nom et prénom */
.input-group {
    display: flex;
    gap: 10px;
    width: 100%;
}


/* Champs de saisie */
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Bouton */
button {
    background-color: #00251a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

/* Pour rendre la page responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .inscription-image {
        width: 100%;
        height: 40vh;
    }

    .inscription-form {
        width: 100%;
        padding: 2rem;
    }
}
